# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Machine learning model files
*.pkl
*.pickle
*.joblib
*.model
*.h5

# Python packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
